/* Specific to a class */
.custom-scrollbar {
    scrollbar-width: none;
    /* For Firefox */
    scrollbar-color: pink #f1f1f1;
    /* For Firefox */
}
/* 
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: pink;
} */